.shop{
  .shop-title {
    margin-top: 100px;
    text-align: center;
    h2{
      font-size: 60px;
    }
  }

  .products {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .product {
      // outline: 1px solid red;
      width: 300px;
      height: 450px;
      margin: 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &:hover {
        cursor: pointer;
      }

      img {
        max-width: 100%;
        height: auto;
      }

      .description {
        text-align: center;
      }

      .addToCartBttn {
        background-color: transparent;
        border: 2px solid rgb(19, 19, 19);
        min-width: 100px;
        padding: 5px 10px 5px 10px;
        border-radius: 15px;

        &:hover {
          background-color: rgb(19, 19, 19);
          color: white;
          cursor: pointer;
        }
      }
    }
  }

  // Media queries
  @media screen and (max-width: 768px) {
    .shop-title {
      margin-top: 60px;
      h2{
        font-size: 50px;
      }
    }
    .products {
      .product {
        width: 270px;
        height: 405px;
        margin: 20px;
      }
    }
  }

  @media screen and (max-width: 576px) {
    .shop-title {
      margin-top: 30px;
      h2{
        font-size: 30px;
      }
    }

    .products {
      .product {
        width: 250px;
        height: 375px;
        margin: 20px;
      }
    }
  }

  
  @each $breakpoint, $query in $grid-breakpoints {
    @media screen and #{$query} {
      $width: #{380 * ($breakpoint - 8 % $breakpoint)}px;

      .products {
        &::after {
          content: "";
          width: $width;
          height: 450px;
        }
      }
    }
  }
}