.auth-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    label {
      font-weight: bold;
      margin-top: 20px;
      margin-bottom: 10px;
      text-transform: uppercase;
      font-size: 14px;
    }

    input {
      width: 100%;
      padding: 10px;
      border: 1px solid #000;
      border-radius: 4px;
      margin-bottom: 20px;
      font-size: 16px;

      &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 1px #ccc;
      }
    }

    .login-btn {
      background-color: #000;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 4px;
      margin-top: 20px;
      font-size: 16px;
      text-transform: uppercase;
      letter-spacing: 1px;
      cursor: pointer;

      &:hover {
        background-color: #333;
      }
    }
  }

  // .register-btn {
  //   color: #000;
  //   margin-top: 20px;
  //   font-size: 14px;
  //   text-decoration: underline;
  //   cursor: pointer;

  //   &:hover {
  //     color: #333;
  //   }
  // }

  .mesg{
    margin-top: 30px;
    color: red;
  }
}
